@import '@taiga-ui/core/styles/taiga-ui-local.less';

.scroll {
    .scrollbar-hidden();
    height: 200px;
}

.main {
    display: flex;
    flex-direction: row;

    .filters {
        flex-basis: 30%;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }

    .chart {
        flex-basis: 70%;
        margin: 3rem;
        .inputs{
            display: flex;
            gap:1rem;
            .input{
                max-width: 15rem;
            }
        }

        .analys-result{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap:2rem
        }
        
    }

    .button {
        width: 100%;
        margin: 1rem 0;
    }
}