<tui-root>
  <div class="main">
    <div class="filters">
      <tui-select class="b-form" [formControl]="selectedTicker">
        Select ticker
        <cdk-virtual-scroll-viewport *tuiDataList tuiScrollable class="scroll" [itemSize]="44">
          <tui-data-list>
            <button *cdkVirtualFor="let ticker of tickers" tuiOption [value]="ticker">
              {{ ticker }}
            </button>
          </tui-data-list>
        </cdk-virtual-scroll-viewport>
      </tui-select>
      <button tuiButton type="button" icon="tuiIconRotateCcw" class="button" [disabled]="false"
        (click)="onRefresh($event)">Refresh</button>
      <button tuiButton type="button" icon="tuiIconClose" class="button" [disabled]="false"
        (click)="onRefresh($event)">Reset</button>
    </div>
    <div class="chart">
      <tui-input-date class="input" [formControl]="startDate">

        Choose start date for forecasting
      </tui-input-date>
      <tui-input-number class="input" [formControl]="countOfMonth">

        Count of month to forecast
      </tui-input-number>
      <p class="b-form">
      </p>
      <tui-loader [overlay]="true" [showLoader]="showLoader">
      <tui-axes [tuiLineChartHint]="hint" *ngIf="computeLabels$(range) | async as labels" class="axes"
        [verticalLines]="labels.length" [horizontalLines]="4" [axisXLabels]="labels">
        <tui-line-days-chart  class="chart actual" [y]="minPrice-50" [height]="300" [value]="actualValues" ></tui-line-days-chart>
          <tui-line-days-chart  class="chart predicted"[y]="minPrice-50" [height]="300" [value]="predictedValues" ></tui-line-days-chart>
      </tui-axes>
      </tui-loader>
    </div>
  </div>
</tui-root>

<ng-template #hint>
  hint
</ng-template>
