<tui-root>
  <div class="main">
    <div class="filters">
      <tui-select class="b-form" [formControl]="category">
        Select category
        <cdk-virtual-scroll-viewport *tuiDataList tuiScrollable class="scroll" [itemSize]="44">
          <tui-data-list>
            <button *cdkVirtualFor="let category of categories" tuiOption [value]="category">
              {{ category }}
            </button>
          </tui-data-list>
        </cdk-virtual-scroll-viewport>
      </tui-select>
      <tui-multi-select [tuiTextfieldLabelOutside]="true" class="b-form"
        [formControl]="selectedTicker">
        Select ticker
        <tui-data-list-wrapper *tuiDataList tuiMultiSelectGroup
          [items]="tickers"></tui-data-list-wrapper>
      </tui-multi-select>
      <button tuiButton type="button" icon="tuiIconRotateCcw" class="button" [disabled]="false"
        (click)="onRefresh($event)">Refresh</button>
    </div>
    <div class="chart">
      <div class="inputs">
        <tui-input-date class="input" [formControl]="startDate">

          Choose start date
        </tui-input-date>
        <tui-input-number class="input" [min]="1" [formControl]="countOfMonth">

          Count of month to forecast
        </tui-input-number>
        <tui-input-number class="input" [min]="1" [formControl]="desiredIncome">

          Desired income (percents)
        </tui-input-number>
      </div>
      <div class="analys-result">
        <tui-loader [overlay]="true" [showLoader]="showLoader">
          <div>
            <canvasjs-chart [options]="chartOptions | async"
              [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
          </div>
        </tui-loader>
        <button *ngIf="maxIncome['income']>desiredIncome.value" tuiAction [icon]="tuiIconCheck" type="button" class="action">
          Best decision is to buy {{maxIncome['ticker']}}, expected income {{maxIncome['income'].toFixed(1)}}%
        </button>
        <button *ngFor="let ticker of toBuy" tuiAction [icon]="tuiIconCheck" type="button" class="action">
          We recommend to buy {{ticker}}, expected income {{incomeByTicker(ticker).toFixed(1)}}%
        </button>
        <button *ngFor="let ticker of toSell" tuiAction [icon]="tuiIconClose" type="button" class="action">
          We do not recommend buying {{ticker}}, expected income {{incomeByTicker(ticker).toFixed(1)}}%
        </button>
      </div>

    </div>
  </div>
</tui-root>